
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 48px;
    height: 48px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

button.operator {
    background-color: #fda085;
    color: #fff;
}

button.equal {
    background-color: #4caf50;
    color: #fff;
}

button.backspace {
    width: calc(48px * 3.6)
}

button.clear {
    background-color: #ff6961;
    color: #fff;
}

button.backspace {
    background-color: #b0c4de;
    color: #fff;
}